<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='profile.css'>
    <script src='main.js'></script>
   
</head>
<body>
    <aside>
        <p style="margin-left: 38px; font-size: 30px; font-weight: 600;"> Menu </p>
        <a href="/">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          HOME
        </a>
        <a href="/history">
          <i class="fa fa-laptop" aria-hidden="true"></i>
          DATA SENSOR
        </a>
        <a href="/log" >
          <i class="fa fa-clone" aria-hidden="true"></i>
          ACTION
        </a>
        <a href="/profile" class="active">
          <i class="fa fa-star-o" aria-hidden="true"></i>
          PROFILE
        </a>
    </aside>

    <div class="profile-container">
        <div class="profile-image">
            <img src="WIN_20240812_10_10_45_Pro.jpg" alt="Student Photo">
        </div>
        <div class="profile-info">
            <p>Mã Sinh Viên: B21DCCN004</p>
            <p>Tên: Đinh Thế Anh</p>
            <p>Lớp: D21CNPM02</p>
            <p>Link github: <a href="https://github.com/theanh2032003/iot" style="text-decoration: none; color: black;">Click vào đây để xem</a> </p>
            <p>Báo cáo: <a href="bao cao btl iot.pdf" target="_blank" style="text-decoration: none; color: black;">Click vào để xem</a></p>
            <p>API doc: <a href="api_doc.pdf" target="_blank" style="text-decoration: none; color: black;">Click vào để xem</a></p>
        </div>
    </div>
</body>
</html>